.Body {
    background-color: #e0ebeb;
    font-family: 'Oswald', monospace;
}

.Heading {
    font-size: 40px;
    text-transform: uppercase;
}

.SubHeading {
    font-size: 20px;
    font-family: 'Oswald', monospace;
}

.DivRow {
    width: 60%; /* procentowe wartosci pozwalaja dostosowac sie zawsze wielkosciowo do elementu nadrzednego; 80% szerokosci nadrzednego elementu */
    margin: 0 auto 20px;; /* uniwersalny sposob na wyposrodkowanie elementu czyli auto na lewym i prawym marginesie (gora i dol niewazna w tym wypadku), ktory ma okreslona szerokosc (musisz okreslic szerokosc, zeby to zadzialalo i element musi byc zawsze elementem blokowym) */
    display: flex; /* ustawiasz wartosc display: flex; */
    flex-flow: row nowrap; /* przy pomocy flex-flow ustawiasz sobie wartosc column albo row, druga wartosc to czy ma element zawijac sie do nastepnego wiersza czy nie */
    justify-content: space-between; /* przy pomocy justify-content ustawiasz sobie jak w poziomie maja ustawic sie elementy (dziala to tylko z display: flex;) */
}

.DivRowElement {
    display: flex; /* ustawiasz wartosc display: flex; */
    flex-flow: column nowrap; /* przy pomocy flex-flow ustawiasz sobie wartosc column albo row, druga wartosc to czy ma element zawijac sie do nastepnego wiersza czy nie */
    align-items: center; /* przy pomocy align-items (dziala tylko z display: flex) ustawiasz pozycje elmentow zawartych w divie w pionie */ 
    width: 29%; /* ustawiasz sobie width taki, zeby 3 divy pojawily sie w jednym rzedzie - zalezne to jest od szerokosci nadrzednego elementu tzn. ile w nim sie zmiesci podrzednych elementow */
    height: 400px; /* ustaw sobie zawsze height na danym divie, zeby miec pewnosc, ze ladnie Ci sie miesci wszystko albo height: auto, jesli chcesz zeby byly zalezne od wielkosci elmentow, ktore sie tam znajduja */
    padding: 20px;
    background-color: silver;
}


.Image {
    width: 80%; /* procentowe wartosci pozwalaja dostosowac sie zawsze wielkosciowo do elementu nadrzednego; 80% szerokosci nadrzednego elementu */
}

.Caption {
    font-size: 10px;
    text-align: left;
}

.Text {
    text-align: justify;
    font-weight: 500;
}
